@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
  --primary-color: #3B82F6;
  --secondary-color: #10B981;
  --danger-color: #EF4444;
  --warning-color: #F59E0B;
  --text-secondary: #6B7280;
  --border-color: #E5E7EB;
  --button-padding: 8px 16px;
  --border-radius: 10000px;
  --text-heading-size: 32px;
  --text-subheading-size: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0px 32px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@layer components {
  .heading{
    font-size: var(--text-heading-size);
    font-weight: 700;
    color: var(--foreground);
  }

  .subHeading{
    font-size: var(--text-subheading-size);
    font-weight: 400;
    color: var(--foreground);;
  }

  .mainButton{
    background-color: var(--primary-color);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    color: var(--background);
    cursor: pointer;
  }

  .mainButton:hover{
    background-color: #2563EB;
  }

  .mainButton:active{
    background-color: #1E40AF;
  }

  .mainButton:focus{
    outline: 2px solid #3B82F6;
    outline-offset: 2px;
  }

  .buttonLogout{
    background-color: var(--danger-color);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  .input {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  padding: var(--button-padding);
  outline: none;
  font-size: 14px;
  flex: 1;
  /* transition: border-color 0.3s ease; */
}

.input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.input::placeholder {
  color: var(--text-secondary);
}

}
